:root {
    --dark-blue: #171738; 
    --medium-blue: #2E1760;
    --true-blue: #3423A6;
    --light-blue: #7180B9;
    --honey-dew-light: #DFF3E4;
}

*{
    margin:0;
    padding:0;  
  }

body {
    
}