@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --dark-blue: #171738; 
    --medium-blue: #2E1760;
    --true-blue: #3423A6;
    --light-blue: #7180B9;
    --honey-dew-light: #DFF3E4;
}

*{
    margin:0;
    padding:0;  
    font-family: 'Poppins', sans-serif;
 }

body {
    
}
.header {
    background-color: var(--light-blue
    );
    border: 5px red solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.header li a {
    color:var(--honey-dew-light); 
}
.main-body {
    border: 5px blue solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--honey-dew-light);
}
#projects {
    border: 5px blue solid;
    border: 5px green solid;
}
form {
    display: flex; 
    justify-content: space-around;
}
@media screen and (min-width: 600px){
    .header {
        border-color: green;
        flex-direction: row;
    }
}